  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row">
  <div class="card offset-2">
    <div class="card-header text-center">
      <h3 class="card-title">Edit <%= resource_name.to_s.humanize %></h3>
    </div>
    <div class="card-body">
      <div class="col-md-4">
        <%= form_with(model: @user, url: avatar_path) do |f| %>
          <div class="form-group avatar">
            <%= f.drag_and_drop_file_field :avatar, "Avatar" %>
          </div>
          <%= f.submit 'Upload', class: 'btn btn-outline-secondary btn-block' %>
        <% end %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
          </div>
          <div class="col-md-8">
          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control' %>
          </div>
            <div class="form-group">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
              <% if @minimum_password_length %>
                <br/>
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
              <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
            </div>

            <div class="actions">
              <%= f.submit "Update", class: 'btn btn-secondary btn-block' %>
            </div>
        <% end %>
        </div>
      </div>
    <div class="col-md-10">
        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete%></p>

        <%= link_to "Back", :back %>
    </div>
  </div>
</div>


