<div class="card-columns">
  <% @posts %>
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-header">
        <small>
          <h6><%= post.user.full_name %></h6>
        </small>
      </div>
      <div class="card-body p-1">
        <%= link_to(image_tag(post.thumbnail, class: 'd-block w-100'), post_path(post.id)) %>
        <p class="my-1"><%= post.description %></p>
        <div class="float-left" id="like-<%= post.id %>">
          <%= render "likes/likes_form", post: post %>
        </div>
        <div class="float-right">
          <%= link_to fa_icon("comment"), "#comment-section-#{ post.id }", data: { toggle: 'collapse' }, class: "btn btn-link" %>
        </div>
        <div class="collapse" id="comment-section-<%= post.id %>">
          <div id="comments-<%= post.id %>">
            <%= render 'comments/comment_form', post: post %>
            <%= render 'comments/comments', post: post %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
