<h1>New Post</h1>

<div class="center">
  <%= form_with(model: @post) do |f| %>
    <% if f.object.errors.any? %>
      <div class="alert alert-danger">
        <p>The following errors prevent the image from being uploaded.</p>
        <ul>
          <% f.object.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.drag_and_drop_file_field :image, 'Drag and drop image here' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <%= f.submit 'Post', class: 'btn btn-primary' %>
  <% end %>
</div>