<div class="col-md-6 offset-md-3">
  <div class="card">
    <%= link_to profile_path(@post.user.id) do %>
      <div class="card-header">
        <ul class="list-unstyled d-flex justify-content-between">
          <li><%= image_tag get_avatar(@post.user), class: 'thumbnail-md rounded-circle' %>
          </li>
          <li><h1><%= @post.user.full_name %></h1></li>
          <br>
        </ul>
      </div>
    <% end %>
    <div class="card-header">
      <small class="float-left" id="like-<%=@post.id %>"><%= render "likes/likes_form", post: @post %></small>
      <small class="float-right">
        <% if policy(@post).destroy? %>
          <%= link_to "Delete", post_path(@post), method: :delete %>
        <% else %>
          <%= render "users/follow_form", user: @post.user %>
        <% end %>
      </small>
    </div>
    <div class="card-body">
      <%= link_to image_tag(@post.thumbnail, class: 'd-block w-100'), post_path(@post.id) %>
      <div class="card-text">
        <%= @post.description %>
        <h6 class="mb-2 text-muted text-right">
        </h6>
      </div>
      <div id="comments-<%= @post.id %>">
          <%= render 'comments/comment_form', post: @post %>
        <%= render 'comments/comments', post: @post %>
      </div>
    </div>
  </div>
</div>