<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-header">
      <ul class="list-unstyled d-flex justify-content-between">
        <li><%= image_tag get_avatar(@post.user), class: 'rounded-circle' %>
        </li>
        <li><h2><%= @post.user.full_name %></h2></li>
        <br>
      </ul>
    </div>
    <% @post %>
    <div class="card-body">
      <%= link_to(image_tag(@post.thumbnail, class: 'd-block w-100'), post_path(@post.id)) %>
      <div class="card-text">
        <ul class="list-unstyled d-flex justify-content-between">
          <li class="my-1"><%= @post.description %></li>
          <li><%= fa_icon "heart" %></li>
        </ul>
        <h6 class="mb-2 text-muted text-right">
          <% if @post.created_at != nil %>
            <%= distance_of_time_in_words_to_now(@post.created_at) %> ago
          <% end %>
        </h6>
      </div>
      <div class="card-text" id="comment-<%= @post.id %>">
        <% @post.comments.each do |c| %>
          <div>
            <div class="row">
              <%= image_tag get_avatar(c.user), class: 'rounded-circle thumbnail' %>
              <h5 class="font-weight-bold"><%= c.user.full_name %></h5>
            </div>
            <p><%= c.content %></p>
          </div>
        <% end %>
      </div>
      <%= form_with(model: @comment, url: post_comments_path(@post)) do |f| %>
        <%= f.text_field "comment[content]", placeholder: 'Add a comment...', class: 'form-control border-0' %>
        <%= f.submit 'Post', class: 'btn btn-outline-secondary' %>
        <%= hidden_field_tag "comment[post_id]", @post.id %>
      <% end %>
    </div>
  </div>
</div>